<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/frontend/css/store.css">
    <style>
        .main-heading {
            background: #21e6c1;
            color: #000;
        }

        .box {
            border: #21e6c1 solid 0.51rem;
            border-top: none;
            background-color: #21e6c1;
        }
    </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <%if(heading){%>
                <main class="container p-3">
                    <div class="box shadow-lg">
                        <div class="main-heading">
                            <div class="text-center pt-5 display-4 text-uppercase font-weight-bolder
                        ">
                                <%=heading.title%>
                            </div>
                            <div class="p-3">
                                <%=heading.description%>
                            </div>
                        </div>
                        <section id="mainContainer" class="bg-white">
                            <div class="tabset">
                                <!-- Tab 1 -->
                                <input type="radio" name="tabset" id="tab1" aria-controls="quesPaper" checked>
                                <label for="tab1">Question Paper (<%=quesPaper.length%>)</label>
                                <!-- Tab 2 -->
                                <input type="radio" name="tabset" id="tab2" aria-controls="notes">
                                <label for="tab2">Notes (<%=notes.length%>)</label>

                                <div class="tab-panels">
                                    <section id="quesPaper" class="tab-panel">
                                        <% if(quesPaper.length> 0){%>
                                            <div class="container">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Exam Date</th>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">College</th>
                                                            <th scope="col">Category</th>
                                                            <th scope="col">Download</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <%quesPaper.forEach(q=>{%>
                                                            <tr>
                                                                <th>
                                                                    <%=q.month%>-<%=q.year%>
                                                                </th>
                                                                <td>
                                                                    <%=q.title%>
                                                                </td>
                                                                <td>
                                                                    <%=q.college%>
                                                                </td>
                                                                <td>
                                                                    <%=q.category%>
                                                                </td>
                                                            <td><a href="/download-file/<%=q._id%>" class="text-danger" title="Download PDF"><i class="fas fa-file-pdf fa-2x"></i> (
                                                                    <%=q.downloads%> Times)
                                                                </a></td>
                                                            </tr>
                                                            <%})%>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <%}%>

                                    </section>
                                    <section id="notes" class="tab-panel">
                                        <% if(notes.length> 0){%>
                                            <div class="container">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Category</th>
                                                            <th scope="col">Download</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <%notes.forEach(q=>{%>
                                                            <tr>
                                                                <th>
                                                                    <%=q.title%>
                                                                </th>
                                                                  <th>
                                                                    <%=q.category%>
                                                                </th>
                                                            <td><a href="/download-file/<%=q._id%>" class="text-danger" title="Download PDF"><i class="fas fa-file-pdf fa-2x"></i> (
                                                                    <%=q.downloads%> Times)
                                                                </a></td>
                                                            </tr>
                                                            <%})%>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <%}%>
                                    </section>
                                    <!-- <section id="dunkles" class="tab-panel">
                                
                            </section> -->
                                </div>
                            </div>
                        </section>
                    </div>
                </main>
                <%}else{%>
                    <div class="container p-5 bg-light my-5">
                        <div class="display-4 text-center font-weight-bolder p-5">Nothing Found Here</div>
                    </div>
                    <%}%>

                        <%- include('../includes/footer.ejs') %>
                            <script src="/frontend/js/utility.js"></script>
    </body>

    </html>